# Node.js
node_modules/             
npm-debug.log            
yarn-debug.log            
yarn-error.log            
package-lock.json         
yarn.lock                

# Logs
logs/
*.log

# Ambiente de desenvolvimento
.env                      
.env.*.local              

# Diretórios de build e output
dist/
build/

# Arquivos temporários
*.pid
*.seed
*.pid.lock

# Sistema operacional
.DS_Store                 # Arquivo do macOS para armazenar informações sobre pastas
Thumbs.db                 # Arquivo do Windows para armazenar informações sobre pastas

# IDEs e editores
.vscode/                  # Configurações do Visual Studio Code
.idea/                    # Configurações do IntelliJ IDEA
*.swp                     # Arquivos de swap de editores de texto
*.swo

# Dependências de ferramentas de teste
coverage/

# Arquivos relacionados a certificações e chaves
*.pem
*.key
*.crt
*.p12
*.csr

# Arquivos e pastas temporários
*.tmp
*.temp