# Node.js
node_modules/             
npm-debug.log            
yarn-debug.log            
yarn-error.log            
package-lock.json         
yarn.lock                

# Logs
logs/
*.log

# Ambiente de desenvolvimento
.env                      
.env.*.local              

# Diretórios de build e output
dist/
build/

# Arquivos temporários
*.pid
*.seed
*.pid.lock

# Sistema operacional
.DS_Store                 
Thumbs.db                 

# IDEs e editores
.vscode/                 
.idea/                    
*.swp                   
*.swo

# Dependências de ferramentas de teste
coverage/

# Arquivos relacionados a certificações e chaves
*.pem
*.key
*.crt
*.p12
*.csr

# Arquivos e pastas temporários
*.tmp
*.temp

#Arquivos de imagens
*.jpeg
*.jpeg
*.png